body {
   background-image: url("../images/walnut.jpg");
}

 @media only screen and (orientation: landscape) {
   body {
     width: 100%;
   }
 }

 @media screen and (max-width: 768px) {
   div.head-space {
     display: none
   }
   }
  @media (max-width: 768px) {
      .container {
        width: 100%;
        max-width: none;
      }
   
 }

 .head-space {
    height: 175px;
 }

.main-box {
   width: 750px;
   height: 340px;
   background: rgb(19, 18, 18);
   top: 50%;
   left: 50%;
   border-radius: 5px;
   box-shadow:  20px 30px 70px rgba(0, 0, 0, 0.8),
      inset 1px 1px 5px 1px rgba(246, 248, 248, 0.5);
}

.main-box::before {
   width: 150px;
   height: 230px;
   background: #666464;
   position: fixed;
   margin-top: 95px;
   margin-left: 5px;
   content: "";
   border-radius: 5px;
   
}


.yellow-box {
   width: 34px;
   height: 34px;
   
   box-shadow:3px 3px 3px rgb(0, 0, 0),
    inset 2px 2px 2px rgba(246, 248, 248, 0.5);
}


.title-text {
   font-size: 2em;
   color: rgb(88, 3, 3);
   font-family: 'Righteous', cursive; 
}

.button-text {
   font-size: 0.7em;
   color: white;
   padding: 0;
   margin: 0;
}

#feedback-box {
   font-family: 'Orbitron', sans-serif;
   text-align: center;
   color: red;
   font-size: 20px;
   height: 30px;
   width: 50px;
   background-color: rgb(88, 4, 4);
   box-shadow: 3px 3px 3px rgb(0, 0, 0),
      inset 1px 1px 2px rgb(189, 31, 31);
}

.gray-band {
   color: black;
   height: 0.3em;
   background-color: #666464;
}

#difficulty-switch__a {
   border-radius: 2px;
   box-shadow:3px 3px 3px rgb(0, 0, 0),
      inset 5px 6px 2px rgba(15, 15, 15, 0.5);
}

/*#difficulty-switch {
   border-radius: 2px;
   box-shadow:3px 3px 3px rgb(0, 0, 0),
      inset 5px 6px 2px rgba(15, 15, 15, 0.5);
}*/

#start-button__box {
   font-size: 0.7em;
   font-weight: 700;
   height: 50px;
   width: 100px;
   border-radius: 2px;
   background-color: #e6f703;;
   border: none;
   box-shadow: 3px 3px 3px rgb(0, 0, 0),
      inset 2px 2px 2px rgba(246, 248, 248, 0.5);
}

#start-button__box:active {
   background: #e6f703;
   outline: none;
   -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
      -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
           box-shadow: inset 0px 0px 5px #c1c1c1;
 }

#start-button__text {
   margin: 0;
   padding: 0;
}


#start-button__hr {
   padding: 0;
   margin-top: 0.25em;
   margin-bottom: 0.25em;
   height: 1px;
   color: black;
   background-color: black;
   border: none;
}

.key {
   text-align: center;
   height: 150px;
   width: 75px;
   border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
   background: rgb(230, 33, 33);
   border-style: none;
   box-shadow: 3px 3px 3px rgb(0, 0, 0),
      inset 2px 2px 2px rgba(246, 248, 248, 0.5);
  }

 .key-light {
   background-color: black;
   top: 8px;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   border-style: solid;
   border-color: gray;
   display: inline-block;
 }

 #key__red {
   background: rgb(230, 33, 33);
 }
 
 #key__green {
   background: rgb(151, 197, 44);
 }
 
 #key__yellow {
   background: rgb(216, 240, 5);
 }
 
 #key__white {
   background: rgb(245, 235, 224);
 }
 
